<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Colmbots</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>
        Twitch/IRC Chatbots
      </h1>
    </header>

    <main>
      <p class="bold">Hi.</p>
      
      <p>I'm Malcolm. This is my server for hosting custom Twitch.tv chatbots.</p>
      
      <p>For all inquiries, please reach out to me on <a href="https://github.com/snydermb">Github</a>.
    </main>
  </body>
</html>